.meal{
    padding: 0 2rem;
    background-color: white;
}
.meal-heading{
    font-weight: 600;
    padding: 2rem 2rem;
    display: block;
    background-color: white;
}
.meal-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;   
}
.meal-grid a{
    text-decoration: none;
    color: black;
}