.aboutus {
    text-align: center;
}

.about {
    padding: 2rem 1rem;
    background-color: rgb(255, 255, 255);
}
.about {
        height: 100%;
        background-color: rgb(255, 255, 255);
    }

.about h1 {
    font-size: 2rem;
    font-weight: 600;
}

.about hr {
    background-color: #4DA943;
    width: 5%;
    height: 0.3rem;
    border-radius: 1rem;
    position: absolute;
    left: 47.5%;
    margin-top: 1rem;
}
.body {
    /* height: 90vh; */
} 
.aboutus .body{
    display: flex;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
    position: relative;
}
.about .photo {
    width: 28%;
    height: 35%;
    padding: 6%;
    border-radius: 100%;
}



.aboutus .photo{
    max-width: 25%;
    min-width: 200px;
    margin: 6%;
    border-radius: 100%;
}
.aboutus .text {
    width: 70%;
    font-size: 1.3rem;
    padding: 35px;
    padding-left: 50px;
    font-weight: 400;
}


@media screen and (max-width: 576px) {
    .about {
        height: 60%;
        background-color: rgb(255, 255, 255);
    }

    .about .photo {
        display: none;
    }

    .about .text {
        text-align: center;
        justify-content: center;
        width: 80%;
        font-weight: 300;
        padding: 35px;
        font-size: 1rem;
        /* margin: 45px; */
    }



}


.problem {
    padding: 5rem 1rem;
    background-color: rgb(244, 244, 244);
}

.problem hr {
    background-color: #4DA943;
    width: 5%;
    height: 0.3rem;
    border-radius: 1rem;
    position: absolute;
    left: 47.5%;
    margin-top: 1rem;
}

.problem .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px;
    margin: 5px 0px;
}

.problem .ind {
    width: 60%;
    height: 60%;
}
<<<<<<< HEAD

.problem .box1 {
    width: 50%;
}
=======
>>>>>>> d3d50525e2d3609ecbc61870d50e90d0eb0b929d
.problem{
    padding: 3rem 1rem;
    background-color: rgb(244, 244, 244);
}

.problem .box{
    display: flex;
    justify-content: space-between;
    height: 90vh;
    margin-top:3rem ;
    align-items: center;
}
.problem .ind{
    width: 50%;
    height: 50% ;
}
.problem .box1{
    width: 70%;
    padding-left: 7%;
}

.problem .box1 span {
    font-size: 2.2rem;
    font-weight: 100;
    color: black;
}

.problem .box1 b {
    color: #4DA943;
}

.problem .main {
    margin-bottom: 40px;
    /* padding-left: 40px; */
}

.problem .para {
    color: rgb(86, 86, 86);
    font-size: 1.2rem;
    font-weight: 300;
}
.solution{
    padding: 5rem 1rem;
    background-color: rgb(255, 255, 255);
    height: 70vh;
}

@media screen and (max-width: 576px) {
    .problem .box1 {
        display: block;
        justify-content: center;
        width: 100%;
        /* height: 100vh; */
    }

    .problem .badi {
        display: none;
    }

    .problem .box1 p span {
        color: rgb(86, 86, 86);
        font-size: 1.2rem;
        font-weight: 300;

    }

    .problem{
        height: 50%;
    }
}
@media screen and (min-width:577px) and (max-width: 768px){
    .problem{
        height: 100%;
    }
}
@media screen and (min-width:767px) and (max-width: 980px){
    .problem{
        height: 100%;
    }
}
.solution {
    padding: 5rem 1rem;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.solution h1 {
    font-size: 2rem;
    font-weight: 600;
}

.solution hr {
    background-color: #4DA943;
    width: 5%;
    height: 0.3rem;
    border-radius: 1rem;
    position: absolute;
    left: 47.5%;
    margin-top: 1rem;
}

.solution .first {

    display: flex;
    align-items: center;
    position: relative;
}

.solution .photo-sol {
    width: 28%;
    height: 70%;
    padding: 6%;
    border-radius: 100%;
}

.solution .text-sol {
    width: 100%;
    font-size: 1.4rem;
    /* padding: 50px; */
    padding-top: 50px;
    font-weight: 200;
}
@media screen and (max-width: 576px) {
    .solution .first{
        display: block;
        align-items: center;
    }
    .solution .photo-sol{
        display: none;
    }
    .solution .text-sol {
    /* width: 100%; */
    font-size: 1rem;
    }
    
}
