.mycard{
    min-width: 18rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5% 5% 0 0;
    display: flex;
    flex-direction: column;
}
.mycard img{
    min-width: 18rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 5% 5% 0 0;
}
.favorite{
    color: red;
    cursor: pointer; 
    width: 10px;
}
.favorite_border{
    cursor: pointer;    
    width: 10px;
}