.sign-up{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}
.sign-up {
    margin: 0 ;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}



.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

.sign-up h3 {
    font-weight: 300;
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.sing-up form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
    height: 250px;
}

.dd  p{
    margin-bottom: 22px;
}

.dd label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}

.right-label {
    float: right;
    cursor: pointer
}

.sign-up input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2rem;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}
.sign-up footer{
    display: flex;
    flex-direction: column;
}
.sign-up footer p {
    margin: 0;
    font-size: .9rem
}

.errorr{
    font-weight: bold;
    font-size: 0.89rem;
    color: red;
    text-align: center ;
}

.loginnn button:disabled{
    background-color: grey !important;
}

